.gameContainer {
  display: flex;
}

.gameGrid {
  display: grid;
}

.gameLetter {
  border: 1px solid black;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 200%;
}

.gameStatsContainer {
  padding-left: 5%;
}

.foundWordsList {
  max-height: 50px;
}

.gameForm {
  display: flex;
  flex-flow: column wrap;
  max-width: 300px;
}

.gameForm>label {
  display: flex;
  justify-content: space-between;
}

.foundWord {
  color: darkgreen
}

.missedWord {
  color: darkred
}