.gameContainer {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.gameGrid {
  display: grid;
}

.gameLetter {
  border: 1px solid black;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 200%;
}

.gameStatsContainer {
  padding-left: 5%;
}